
#renderGifsHere {
	margin-top: 20px;
	margin-left: 10px;
	padding-top: 10px;
/*    border-style: solid;
    border-width: 2px;
    height: 200px; 
    width: 1100px;
    border-radius: 25px;*/
}
#inputArea {
	margin-top: 20px;
	padding-top: 10px;
    border-style: solid;
    border-width: 2px;
    height: 200px; 
    border-radius: 25px;
}
#gifButtonArea {
	margin-top: 20px;
	padding-top: 10px;
    border-style: solid;
    border-width: 2px;
    height: 150px; 
    width: 100%;
    border-radius: 25px;	
}
.items {
    margin-left: 5px;
    margin-top: 3px;
    -moz-box-shadow:inset 0px 2px 0px 0px #cf866c;
    -webkit-box-shadow:inset 0px 2px 0px 0px #cf866c;
    box-shadow:inset 0px 2px 0px 0px #cf866c;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
    background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
    background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
    background-color:#d0451b;
    -moz-border-radius:42px;
    -webkit-border-radius:42px;
    border-radius:42px;
    border:3px solid #942911;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:19px;
    font-weight:bold;
    padding:16px 23px;
    text-decoration:none;
    text-shadow:0px 1px 0px #854629;
}
.items:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
    background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
    background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
    background-color:#bc3315;
}
.items:active {
    position:relative;
    top:1px;
}
.item {
    width: 50%; 
    margin: 0 auto;
}
img:hover {
    border-style: solid;
    border-width: 4px;
    border-radius: 25px;
    border-color: red;
    opacity: .8;
/*    background-image: url(results[i].images.fixed_height.url);
*/}

}
.items:hover {
    opacity: .7;
}
#submitNewAnimal{
	margin-top: 10px;
}
#clearNewAnimal {
	margin-top: 10px;
}
#addAnimalInput {
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#logo {
	color: white;
	font-size: 30px;
	font-weight: bold;
	float: right;
	margin-top: 10px;
	margin-left: 450px;	
	font-family: 'Architects Daughter', cursive;
}
#search_pic {
	margin-top: 10px;
}